<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/:id"method="POST">
        <label >账号</label>
        <input required type="text" placeholder="enter your account"value="<%=article.account%>"/>
        <label >密码</label>
        <input required type="text" placeholder="enter your pwd" value="<%=article.account%>"/>
        <Button type="submit">提交登录</Button>
    </form>
</body>
</html>